
.modal-content{
    color: cadetblue;
    width: 650px;
    height:600px;
}

.title__modal{
    text-align: center;
}
.modal-contentmp{
    color: cadetblue;
    width: 850px;
    height:600px;
}
.title__modalmp{
    text-align: center;
}
.mapa{
  padding: auto;
  margin: auto;
  width: 500px;
  height: 400px;
}
.modal-open {
  overflow: hidden;
}

.modal-open .modal1 {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-open {
    overflow: hidden;
  }
  
  .modal-open .modalmp {
    overflow-x: hidden;
    overflow-y: auto;
  }

.modal1 {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-content1 {
height: 400px;
width: 400px;
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
width: 100%;
pointer-events: auto;
background-color: #fff;
background-clip: padding-box;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 0.3rem;
outline: 0;
}

#BOTON{
  background-image:url(../assets/images/icon-excel1.png);
  background-repeat:no-repeat;
  height:40px;
  width:40px;
  background-position:center;
  }


.modalmp {
  width: 800px;
  height: 800px;
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}



.modalmp-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modalmp-backdrop.fade {
  opacity: 0;
}

.modalmp-backdrop.show {
  opacity: 0.5;
}

.modal-header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e3e6f0;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-headermp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e3e6f0;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}


.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  

.modal-title1 {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-titlemp {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
  
.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e3e6f0;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-contentmp {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
  }
  .modal-sm {
    max-width: 300px;
  }
}
.label__title{
    text-align: center;
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
#id__info{
    position: relative;
    left: 170px;
}
#label__matricula{
    position: relative;
    left: 0px;
}

.modal-contentmp {
  width: 850px;
  height:500px;
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
width: 100%;
pointer-events: auto;
background-color: #fff;
background-clip: padding-box;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 0.3rem;
outline: 0;
}

.modal-headermp .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-bodymp {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footermp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e3e6f0;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.modal-footermp > :not(:first-child) {
    margin-left: .25rem;
  }
  
  .modal-footermp > :not(:last-child) {
    margin-right: .25rem;
  }


  
.modal2-open {
  overflow: hidden;
}

.modal2-open .modal2 {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog2 {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal2.fade .modal-dialog2 {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal2.fade .modal-dialog2 {
    -webkit-transition: none;
    transition: none;
  }
}

.modal2.show .modal-dialog2 {
  -webkit-transform: none;
  transform: none;
}

.modal-dialog2-scrollable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog2-scrollable .modal-content2 {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog2-scrollable .modal-header2,
.modal-dialog2-scrollable .modal-footer2{
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-dialog2-scrollable .modal-body2 {
  overflow-y: auto;
}

.modal-dialog2-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog2-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-dialog2-centered.modal-dialog2-scrollable {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.modal-dialog2-centered.modal-dialog2-scrollable .modal-content2 {
  max-height: none;
}

.modal-dialog2-centered.modal-dialog2-scrollable::before {
  content: none;
}

.modal-content2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}


.modal1-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal1-backdrop.fade {
  opacity: 0;
}

.modal1-backdrop.show {
  opacity: 0.5;
}

.modal-header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e3e6f0;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-header2 .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title2 {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body2 {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e3e6f0;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.modal-footer2 > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer2 > :not(:last-child) {
  margin-right: .25rem;
}

.modal2-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog2 {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog2-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog2-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog2-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog2-centered::before {
    height: calc(100vh - 3.5rem);
  }
  .modal2-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal2-lg,
  .modal2-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal2-xl {
    max-width: 1140px;
  }
}
