
#map {
    width: 500px;
    height: 450px;
    background: grey;
    float:left;
}
#panel {
    width: 500px;
    height: 400px;
}
#BOTON{
    background-image:url(../assets/images/xd.jpg);
    background-repeat:no-repeat;
    height:35px;
    width:35px;
    background-position:center;
}
